/*
- Mobile: 375px
- Desktop: 1440px
*/

:root {
  --color-primary-dark: #502050;
  --color-primary-light: #ee68a4;
  --color-gray-dark: #937b92;
  --color-gray-light: #f7f2f7;
  --color-white: #fff;
}
$desktop-screen: 1440px;
$medium-screen: 1178px;
$mobile-screen: 375px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: $mobile-screen) {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
  font-family: Spartan, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-gray-dark);

  min-height: 100vh;

  position: relative;

  background-image: url('../img/bg-pattern-top-desktop.svg');
  background-repeat: no-repeat;
  background-position: cover;

  @media only screen and (max-width: $mobile-screen) {
    background-image: url('../img/bg-pattern-top-mobile.svg');
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url('../img/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom right;

    @media only screen and (max-width: $mobile-screen) {
      background-image: url('../img/bg-pattern-bottom-mobile.svg');
    }
  }
}
