.container {
  max-width: var(--desktop-screen);
  // background-color: var(--color-gray-dark);
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 4rem;
}

.top {
  height: 50%;
  // background-color: rgb(199, 199, 199);
  display: flex;

  .products-info {
    width: 50%;
    padding: 7rem;
    color: var(--color-primary-dark);

    &__header {
      font-size: 5rem;
      line-height: 1.1;
      margin-bottom: 3rem;
      font-weight: 700;
    }

    &__text {
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 500;
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  height: 50%;
  padding: 3rem 7rem 5rem 7rem;
  // background-color: rgb(199, 247, 247);
}
